*
{
    margin: 0;
    padding: 0;
}
*::selection
{
    background: none;
}
html
{
    scroll-behavior: smooth;
}
header
{
    position: absolute;
    right: 3vw;
    top: 5vh;
    width: 25vw;
}
button
{
    outline: none;
}
.menu
{
    color: #cacaca;
    font-size: 0.85em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu li
{
    width: 5vw;
    text-align: center;
}
.main-page
{
    height: 100vh;
    background: url("../resources/img/restaurant.png") no-repeat;
    background-size: cover;
}
.main-logo
{
    width: 50%;
    height: 100vh;

    position: absolute;
    background: url("../resources/img/logo-fellas.png") no-repeat -5vw;
    background-size: contain;

}
.main-text
{
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-italian
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #cacaca;
    margin-bottom: -0.2em;
}
.header-american
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #e29a1a;
    margin-bottom: 0.5em;
}
.greeting
{
    font-size: 1.1em;
    text-align: center;
    width: 60%;
    color: #cacaca;
    margin-bottom: 2em;
}
.greeting span
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e29a1a;
}
.scroll
{
    cursor: pointer;
    padding: 1em 2em;
    height: 3.5em;
    border-radius: 1.75em;
    font-size: 1em;
    background: #d6911a;
    outline: none;
    border: none;
    color: #f0f0f0;
    transition: 0.2s ease-out;
    text-decoration: none;
    font-family: sans-serif;

    font-weight: bold;
}
.scroll-slice
{
    font-size: 1.3em;
}
.scroll:hover
{
    background: #f0f0f0;
    color: #29303a;
    padding: 1em 2.5em;
}
/* Pizza menu styles */

/* Controls section styles */
.pizza-preview
{
    min-height: 100vh;
    background: /* #cacaca */ #29303a;
    box-sizing: border-box;
}
.preview-wrap
{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}
.controls
{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(41, 48, 58, 0.9);
}
.stock-format
{
    width: 25vw;
    display: flex;
    flex-direction: row;
}
.control-button
{
    height: 50px;
    width: 50px;
    margin:0 0.5vw;
    background: #f0f0f0;
    color: #29303a;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;

    transition: 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
}
.active
{
    background: #e29a1a;
    color: #f0f0f0;
    pointer-events: none;
}
.control-button:hover
{
    background: #29303a;
    color: #e29a1a;
}
.responsive-image
{
    margin-left: 2.3em;
    max-width: 15vw;
    height: auto;
}
.cart-open
{
    font-size: 1.5em;
    color: #29303a;
    background: #f0f0f0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    cursor: pointer;
    position: relative;
    margin: 0 0.5em;
}
.cart-open:hover
{
    background: none;
    color: #e29a1a;
}
.cart-open:hover .cart-badge
{
    background: none;
    color: #e29a1a;
}
.cart-badge
{
    height: 20px;
    width: 20px;
    background: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    color: #29303a;
    right: -4px;
    top: -4px;
    font-size: 0.7em;
    font-family: sans-serif;
    display: flex;
    transition: 0.1s ease-out;
    justify-content: center;
    align-items: center;
}
.misc-wrap
{
    width: 25vw;
    text-align: center;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.sort-options
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sort-button
{
    outline: none;
    background: #242632;
    border: none;
    color: #f0f0f0;
    padding: 0.5em 1em;
    width: 10em;
    height: 2.6em;
    border-radius: 1.3em;
    cursor:pointer;
    margin: 0 0.2em;
    transition: 0.2s ease-out;
    font-weight: bold;
}
.sort-button:hover
{
    background: #f0f0f0;
    color: #29303a;
    border: 1px solid #29303a;
}
.search
{
    height: 35px;
    font-size: 1em;
    padding: 5px 35px 5px 5px;
    width: 10vw;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    background: none;
    color: #f0f0f0;
    outline: none;
}
.search::placeholder
{
    color: #f0f0f0;
}
.fa-plus
{
    color: #f0f0f0;
    font-size: 1.1em;
    position: relative;
    top: 0.5vh;
}
.search-submit
{
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.search-submit:hover
{
    filter: brightness(80%);
}

.additional-block
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters
{
    max-width: 40vw;
    max-height: 4em;
    overflow: auto;
    margin-bottom: 0.5em;
}
.search-filter
{
    display: inline-block;
    padding: 0.2em 0.6em;
    height: 1.25em;
    border-radius: 0.63em;
    margin: 0.1em 0.2em;
    font-family: Roboto, sans-serif;
    background: #131623;
    color: #f0f0f0;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.search-filter:hover
{
    background: #f0f0f0;
    color: #29303a;
}
.create-new
{
    padding: 1em 1.5em;
    border: none;
    border-radius: 2em;
    background: #d6911a;
    box-shadow: 3px 3px 10px #1b1b1b;
    color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    transition: .2s ease-out;
    margin-bottom: 1em;
}
.create-new:hover
{
    background: #f0f0f0;
    color: #29303a;
}
/* Pizza cards */
.stock-grid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.face
{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;

    transform-style: preserve-3d;
    height: 100%;
}
.card
{
    width: 25%;
    height: 50vh;
    min-width: 300px;
    min-height: 500px;
    background: #f0f0f0;
    color: #29303a;
    margin: 1em;
    box-shadow: 7px 7px 10px #0f1219;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    transition: all .7s linear;


}
.card-front, .card-back
{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card-back
{
    transform: rotateY(180deg);
}
.back-photo
{
    height: 30%;
    background-size: cover;
    margin-bottom: 0.5em;
}
.card-photo
{
    height: 40%;
    background-size: cover;
    margin-bottom: 0.5em;
}
.card-header
{
    font-size: 1.35em;
    font-family: Roboto, sans-serif;
    padding-left: 0.3em;
}
.card-hr
{
    width: 90%;
    margin: 0.3em auto;
    background: #29303a;
    border: none;
    height: 0.1em;
}
.card-ingredients, .ingredients-picker
{
    padding:0.3em 1em 0;
    text-align: justify;
    position: relative;
    height: 40%;
    max-height: 130px;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    font-size: 0.85em;
}
.ingredients-picker
{
    max-height: 180px;
    overflow-y: auto;
    text-align: left;
}
.ingredient-selector
{
    display: inline-block;
    padding: 0.1em 0.4em;
    height: 1.5em;
    margin: 0.2em 0.1em;
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    background: #e0e0e0;
    color: #29303a;
    border-radius: 0.75em;
    cursor: pointer;
    transition: 0.12s ease-out;
}
.ingredient-selector:hover
{
    background: #e29a1a;
    color: #f0f0f0;
}
.ingredient-selector:active
{
    background: #c37d1a;
}
.active-ingredient
{
    background: #29303a;
    color: #f0f0f0;
    font-weight: bold;
}
.card-ingredients:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom,
    rgba(240,240,240, 0),
    rgba(240,240,240, 1) 90%);
    width    : 100%;
    height   : 4em;
}
.card-info, .back-info
{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}
.price, .calories
{
    width: 45%;
    text-align: center;
    font-size: 1.2em;
}
.small
{
    font-size: 0.6em;
}
.card-button-wrap, .back-button-wrap
{
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pizza-button
{
    cursor: pointer;
    padding: 0.5em 1em;
    width: 10em;
    height: 3em;
    margin: 0 1em;

    font-weight: bold;
    color: #f0f0f0;
    background: #29303a;
    border-radius: 5em;
    border: none;
    transition: 0.2s ease-out;
    outline: none;
}
.cart-button
{
    background: #e1a82b;
    color: #29303a;
}
.pizza-button:hover
{
    border: 2px solid #29303a;
    background: #f0f0f0;
    color: #29303a;
}


.list-item
{

    width: 60vw;
    padding: 0 2em;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1.3em;
    background: #222832;
    border-bottom: 0.1em solid #131623;
    border-top: 0.1em solid #131623;
    border-top: 0.1em solid #131623;
}
.list-icon, .list-dollar
{
    color: #e29a1a;
}
.list-price
{
    width: 30%;
    text-align: center;
}
.list-name
{
    justify-self: flex-start;
    width: 30%;
}
.list-details
{
    cursor: pointer;
    height: 40px;
    margin-right: 0.7em;
    width: 40px;
    border-radius: 50%;
    background: #f0f0f0;
    font-size: 1em;
    border: none;
    transition: 0.2s ease-out;
}
.list-buttons
{
    width: 30%;
    text-align: right;
}
.list-cart
{
    transition: 0.2s ease-out;
    cursor: pointer;
    height: 2.2em;
    padding: 0 1em;
    border-radius: 1.1em;
    background: #e29a1a;
    color: #f0f0f0;
    font-size: 0.8em;
    border: none;
}
.list-details:hover, .list-cart:hover
{
    background: #29303a;
    color: #e29a1a;
}


.hide
{
    display: none;
}