.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn .5s;
    color: #29303a;
    font-family: Roboto, sans-serif;
}
/* Modal Content/Box */
.modal-content {
    background-color: #f0f0f0;
    margin: 25vh auto;
    width: 730px;
    height: 410px;
    overflow: hidden;
}
.modal-size-picker
{
    width: 100%;
    height: 410px;
    display: flex;
}
.modal-switch-xxl, .modal-switch-regular
{
    width: 100%;
    filter: brightness(75%);
    display: flex;
    align-items: center;
    font-family: Roboto, 'sans-serif';
    font-size: 2em;
    cursor: pointer;
    transition: .3s ease-in;

}
.modal-switch-xxl:hover, .modal-switch-regular:hover
{
    width: 300%;
    filter: brightness(110%);
}
.modal-switch-regular
{
    justify-content: flex-end;
    font-weight: bold;
    color: #e29a1a;
    background: url("../resources/img/pizza/mafia.png") no-repeat;
    background-size: cover;
}
.modal-switch-xxl
{
    justify-content: flex-start;
    color: #f0f0f0;
    background: url("../resources/img/pizza/mafia-xxl.png") no-repeat;
    background-size: cover;
}
.xxl-bg
{
    width: 100%;
    padding-left: 1em;
    background: rgba(226, 154, 26, 0.75);
}
.regular-bg
{
    width: 100%;
    padding-right: 1em;
    text-align: right;
    background: rgba(41, 48, 58, 0.75);
}

.modal-ingredients-picker
{
    padding: 20px;
    font-size: 0.9em;
}
.modal-name-input
{
    background: rgba(41, 48, 58);
    padding: 1em 0;
    margin: 0 0 1em;
    color: #e29a1a;
    text-align: center;
    font-size: 1.35em;
}
.modal-info
{
    margin: 1em 0 0.5em;
    padding: 0;
}
#new_name
{
    width: 15em;
    margin: 0 1em;
    background: none;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none;
    color: #f0f0f0;
    font-size: 0.8em;
}
.modal-button-wrap
{
    margin-top: 1em;
    text-align: center;
}
.pizza-discard
{
    border: 2px solid #29303a;
    color: #29303a;
    background: #f0f0f0;
}
.pizza-submit
{
    background: #e29a1a;
}
.pizza-submit:hover
{
    background: #e29a1a;
    color: #f0f0f0;
    border: none;
    filter: brightness(90%);
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}


.cart-modal .modal-body
{
    height: 400px;
    overflow-y: auto;
}
.cart-modal .modal-header
{
    padding: 20px;
    font-weight: bold;
    color: #e29a1a;
    font-size: 1.5em;
}
.cart-modal .modal-button-wrap
{
    margin-bottom: 4.5em;
}
.cart-pizza-card
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    color: #29303a;

}

.cart-header
{
    width: 30%;
}
.cart-price
{
    width: 30%;
    text-align: center;
}
.cart-amount
{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-input {
    display: inline-flex;
}

.number-input button {
    outline:none;
    width: 35px;
    font-size: 1.2em;
    color: #f0f0f0;
    font-weight: bold;
    background: #29303a;
    border: none;
    cursor: pointer;
}
.right
{
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.left
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.number-input input{
    font-family: sans-serif;
    height: 30px;
    font-size: 1em;
    text-align: center;
}