/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #29303a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0992a;
    transition: 0.1s ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b07a27;
}
